.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-image: url("img/HeroImage.png");
  width: 1440px;
  height: 773px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 250px;
}
#menutei {
  color: #fff;
  font-size: 18px;
}
#en {
  color: black;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#neg {
  height: 80px;
  width: 80px;
}
#pu {
  color: #e8edf2b8;
  font-size: 50px;
}
#aw {
  color: #fdfdfefa;
  font-size: 100px;
}
#twenty {
  color: #ffffffcc;
  font-size: 50px;
}
.card {
  width: 275.49px;
  height: 500px;
  box-shadow: 8px -8px 0 0 rgba(31, 114, 170, 0.46),
    8px 8px 0 0 rgba(41, 114, 139, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  background-image: url("img/Location\ image.png");
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  width: 1442px;
}

.ltext {
  color: rgba(253, 253, 254, 0.8);
  font-size: 37px;
}
#card1 {
  background-image: url("img/card1.png");
}

#card2 {
  background-image: url("img/card2.png");
}
#card3 {
  background-image: url("img/card3.png");
}
#card4 {
  background-image: url("img/card4.png");
}
.roadmap {
  background-image: url("img/Roadmap\ image.png");
  width: 1442px;
  height: 900px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rtext {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stops {
  border-radius: 120px;
  background-color: #eee9d9;
  width: 500px;
  height: 100px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
#two {
  background-color: rgba(139, 184, 193, 0.8);
}
#three {
  background-color: rgba(139, 184, 193, 0.8);
}
#four {
  background-color: rgba(139, 192, 189, 0.8);
}
#five {
  background-color: rgba(151, 204, 224, 0.8);
}
#odor1 {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.end {
  background-image: url("img/Price&Footer\ image.png");
  width: 1442px;
  height: 902px;
}
.packcard {
  background-color: white;
  width: 384px;
  height: 527px;
  border-radius: 40px;
  display: flex;
  gap: 20px;
  padding-top: 40px;
  padding-left: 40px;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
}
